/**** Color Variables ****/

@define-color primary #ff6500;
@define-color secondary #111111;
@define-color dark #030712;

/**************************************/

/**** Global Waybar ****/

*
{
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

/**************************************/

/**** Common styles across modules ****/

#clock,
#memory,
#disk,
#cpu,
#backlight,
#network,
#pulseaudio-slider,
#custom-reboot,
#custom-logout,
#custom-lock,
#custom-shutdown,
#custom-audio-icon,
#bluetooth
{
    font-size: 15px;
    padding: 0 10px;
    color: #ffffff;
    background-color: @secondary;
}

#custom-reboot,
#custom-logout,
#custom-lock,
#custom-shutdown
{
    min-height: 0.5em;
    font-size: 1.2rem;
}

#custom-reboot:hover,
#custom-logout:hover,
#custom-lock:hover,
#custom-shutdown:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#network:hover,
#bluetooth:hover
{
    background-color: @primary;
    transition-property: background-color;
    transition-duration: 1s;
}

#window,
#workspaces
{
    margin: 0 2px;
}

/**************************************/

/**** hyprland Workspace Styles/Animations ****/

#workspaces {
    border: 0.15em #343434 solid;
    background-color: #111111;
    border-radius: 0.5em;
}

#workspaces button
{
    background-color: @secondary;
    padding: 0.75em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: #505050;
    border-radius: 0.50em;
}

#workspaces button.active
{
    background-color: @primary;
    color: #ffffff;
    transition-property: background-color;
    animation-name: wsActiveAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    border-color: white;
    border-width: 0.10em;
    border-style: solid;
}

@keyframes wsActiveAnimation
{
    from {
        background-color: @primary;
        border-color: white;
    }
    to {
        background-color: @secondary;
        border-color: @primary;
    }
}

/**************************************/

/**** hyprland Window Styles ****/

#window
{
    border: 0.15em #343434 solid;
    background-color: #111111;
    padding: 0.5em;
    min-width: 325px;
    border-radius: 0.5em;
}

window#waybar
{
    background-color: @secondary;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden
{
    opacity: 0.2;
}

/**************************************/

/**** Pulseuadio Slider Styles ****/

#pulseaudio-slider trough
{
    min-width: 100px;
    border-radius: 5px;
    background: white;
    border-color: white;
}

#pulseaudio-slider highlight
{
    min-width: 10px;
    border-radius: 5px;
    background: @primary;
    border-color: @primary;
}

/**************************************/

/**** Groups Styles ****/
#group-metrics,
#group-tools,
#group-power
{
    border: 0.15em #343434 solid;
    background-color: @secondary;
    border-radius: 0.50em;
    padding: 0 10px;
    margin: 0 5px;
}

#group-metrics:hover,
#group-tools:hover,
#group-power:hover
{
    background-color: @primary;
    transition-property: background-color;
    transition-duration: 0.75s;
    padding-right: 0px;
}

/**************************************/

/**** Clock Styles ****/

#clock {
    padding: 0 20px;
}

#window:hover,
#clock:hover {
    font-weight: 800;
    color: @primary;
    transition-property: color;
    transition-duration: 0.5s;
}

/**************************************/

/**** Misc Styles ****/

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/**************************************/
